# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

version.h

.idea/
org.yafra.clibs/libs/matrix/build/
org.yafra.clibs/libs/psgui/build/
org.yafra.clibs/libs/psipc/build/
org.yafra.clibs/libs/psmodul/build/
org.yafra.clibs/libs/psmume/build/
org.yafra.clibs/libs/pssercom/build/
org.yafra.clibs/libs/pssys/build/
org.yafra.clibs/libs/pssys/testsuite/chars/build/
org.yafra.tdb.addons.pswhat/build/


